

.main {
    padding: 0;
}

.jumbotron {
    background-image: url("../images/AdobeStock_264558719.jpeg");
    background-size: cover;
    background-position: center center;
    /* background-color: rgb(212, 22, 60);
    background-blend-mode: exclusion; */
    margin: 0;
    /* background-attachment: fixed; */

}

.jumbotron-container {
    height: 90vh;
    background-position: center center; 
    margin: 0px;
}

.first {
    display: flex;
    align-content: space-around;
    height: 3.5rem;
    background-color: black;
    color: rgb(102, 8, 27);

}

h4 {
    align-self: center;
}


.first-stack {
    margin-left: 10px;
}

.first-developer {
    margin-right: 10px;
}

.second {
    transition: transform .5s ease-out;
    transform: translateY(-100%);
}

/* .container {
    background-image: url("images/epicbackgroundimage.jpg");
    background-size: cover;
} */

.navbar-brand {
    color: crimson;
}

.nav-link {
    color: crimson;
}


.down {
    width: 30px;
    height: 30px;
    margin-top: 50px;
    margin: auto;
    background-color: rgba(14, 13, 13, 0.9);
    border-radius: 20%;
    fill: crimson;
    
    animation: bounce 2s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
      }
      60% {
        transform: translateY(-12px);
      }
}

/* @media(width: 324px) {
    .down {
        display: none;
    }
} */

.about-layout {
    display: flex;
}

#about {
    background-image: linear-gradient(-30deg, brown, papayawhip, firebrick);
}

.about-row {

}

.about-text {
    /* border: solid 2px black; */
    width: 80%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    background-image: radial-gradient( brown, papayawhip);
}

.about-h3 {
    margin-top: 2rem;
    letter-spacing: 5px;
}