.jumbotron {
    background-image: url("../images/AdobeStock_264558719.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 100vh;
}
.navbar {
    margin-bottom: 0px;
    background-color: plum;
}